// Colors of project

// Brand Colors

$primary-normal: #F49F45;
$primary-light: #f8c6a3;
$primary-dark: #AE6713;

$secondary-normal: #945000;
$secondary-light: #F6D8C0;
$secondary-dark: #21170b;


$black-normal: #2B2B2C;
$black-dark: #0f0b06;
$black-light: #666565;

$white-normal: #FFFDFD;
$white-light: #f9edde;